*.[oa]
*.log
*.lo
*.la
*.tar.gz
.deps
.libs
.DS_Store
*.trs
__pycache__
Makefile.in
Makefile
*~
/sequential/
/parallel/
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/interface/tests/matlab/check_all.sh.trs
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/py-compile
/test-driver
/_configs.sed
/config.h
/config.status
/cubature/getfem_im_list.h
/getfem-config
/getfem-config-notinstalled
/gmm-config
/interface/src/python/setup.py
/interface/src/python/_getfem.*
/interface/src/scilab/sci_gateway/c/builder_gateway_c.sce
/libtool
/src/getfem/getfem_arch_config.h
/src/gmm/gmm_arch_config.h
/stamp-h1
/interface/src/matlab/@gf*
/interface/src/matlab/gf_asm.m
/interface/src/matlab/gf_compute.m
/interface/src/matlab/gf_cont_struct.m
/interface/src/matlab/gf_cont_struct_get.m
/interface/src/matlab/gf_cvstruct_get.m
/interface/src/matlab/gf_delete.m
/interface/src/matlab/gf_eltm.m
/interface/src/matlab/gf_fem.m
/interface/src/matlab/gf_fem_get.m
/interface/src/matlab/gf_geotrans.m
/interface/src/matlab/gf_geotrans_get.m
/interface/src/matlab/gf_global_function.m
/interface/src/matlab/gf_global_function_get.m
/interface/src/matlab/gf_integ.m
/interface/src/matlab/gf_integ_get.m
/interface/src/matlab/gf_levelset.m
/interface/src/matlab/gf_levelset_get.m
/interface/src/matlab/gf_levelset_set.m
/interface/src/matlab/gf_linsolve.m
/interface/src/matlab/gf_matlab.*
/interface/src/matlab/gf_mesh.m
/interface/src/matlab/gf_mesh_fem.m
/interface/src/matlab/gf_mesh_fem_get.m
/interface/src/matlab/gf_mesh_fem_set.m
/interface/src/matlab/gf_mesh_get.m
/interface/src/matlab/gf_mesh_im.m
/interface/src/matlab/gf_mesh_im_data.m
/interface/src/matlab/gf_mesh_im_data_get.m
/interface/src/matlab/gf_mesh_im_data_set.m
/interface/src/matlab/gf_mesh_im_get.m
/interface/src/matlab/gf_mesh_im_set.m
/interface/src/matlab/gf_mesh_levelset.m
/interface/src/matlab/gf_mesh_levelset_get.m
/interface/src/matlab/gf_mesh_levelset_set.m
/interface/src/matlab/gf_mesh_set.m
/interface/src/matlab/gf_mesher_object.m
/interface/src/matlab/gf_mesher_object_get.m
/interface/src/matlab/gf_model*.m
/interface/src/matlab/gf_poly.m
/interface/src/matlab/gf_precond.m
/interface/src/matlab/gf_precond_get.m
/interface/src/matlab/gf_slice*.m
/interface/src/matlab/gf_spmat*.m
/interface/src/matlab/gf_util.m
/interface/src/matlab/gf_workspace.m
/interface/src/python/_getfem.so
/interface/src/python/getfem.py
/interface/src/python/getfem.pyc
/interface/src/python/getfem_python_c.c
/interface/src/scilab/macros/*.bin
/interface/src/scilab/macros/*/*.bin
/interface/src/scilab/cleaner.sce
/interface/src/scilab/help/en_US/master_help.xml
/interface/src/scilab/help/en_US/scilab_en_US_help/
/interface/src/scilab/jar/
/interface/src/scilab/loader.sce
/interface/src/scilab/macros/lib
/interface/src/scilab/macros/names
/interface/src/scilab/macros/overload/lib
/interface/src/scilab/macros/overload/names
/interface/src/scilab/sci_gateway/c/cleaner.sce
/interface/src/scilab/sci_gateway/c/libscigetfem_c.c
/interface/src/scilab/sci_gateway/c/libscigetfem_c.cpp
/interface/src/scilab/sci_gateway/c/libscigetfem_c.h
/interface/src/scilab/sci_gateway/c/libscigetfem_c.hxx
/interface/src/scilab/src/cleaner_src.sce
/interface/src/scilab/sci_gateway/c/libscigetfem_c.so
/interface/src/scilab/sci_gateway/c/loader.sce
/interface/src/scilab/sci_gateway/cleaner_gateway.sce
/interface/src/scilab/sci_gateway/loader_gateway.sce
/interface/src/scilab/src/c/cleaner.sce
/interface/src/scilab/src/c/libsp_get.so
/interface/src/scilab/src/c/loader.sce
/interface/src/scilab/unloader.sce
/interface/tests/python/*.pyc
/doc/sphinx/tools/
/doc/sphinx/source/scilab/cmdref*
/doc/sphinx/source/python/cmdref*
/doc/sphinx/source/matlab/cmdref*
/doc/sphinx/build/
/doc/sphinx/*.pdf
/doc/sphinx/source/matlab/images/hierarchy.png
/doc/sphinx/source/project/images/diagram.png
/doc/sphinx/source/project/images/getfemelemelem.png
/doc/sphinx/source/project/images/getfemtransgeo.png
/doc/sphinx/source/project/images/tree_simple_laplace_tan.png
/doc/sphinx/source/python/images/hierarchy.png
/doc/sphinx/source/scilab/images/hierarchy.png
/doc/sphinx/source/userdoc/images/ALE_rotating_body.png
/doc/sphinx/source/userdoc/images/ALE_rotating_conf.png
/doc/sphinx/source/userdoc/images/ALE_translation_body.png
/doc/sphinx/source/userdoc/images/getfemlistHCT.png
/doc/sphinx/source/userdoc/images/getfemlistRT0.png
/doc/sphinx/source/userdoc/images/getfemlistargyris.png
/doc/sphinx/source/userdoc/images/getfemlistcubeQ1.png
/doc/sphinx/source/userdoc/images/getfemlistcubeQ3.png
/doc/sphinx/source/userdoc/images/getfemlistpyramidP0.png
/doc/sphinx/source/userdoc/images/getfemlistpyramidP1.png
/doc/sphinx/source/userdoc/images/getfemlistpyramidP2.png
/doc/sphinx/source/userdoc/images/getfemlistincomplete.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodquad2.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodquad3.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodquad5.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtetrahedron1.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtetrahedron2.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtetrahedron3.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtetrahedron5.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle1.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle2.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle2comp.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle3.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle4.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle5.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle6.png
/doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle7.png
/doc/sphinx/source/userdoc/images/getfemlistmorley.png
/doc/sphinx/source/userdoc/images/getfemlistnedelec.png
/doc/sphinx/source/userdoc/images/getfemlistprismP1.png
/doc/sphinx/source/userdoc/images/getfemlistprismP2P1.png
/doc/sphinx/source/userdoc/images/getfemlistprismP3.png
/doc/sphinx/source/userdoc/images/getfemlistquadQ1.png
/doc/sphinx/source/userdoc/images/getfemlistquadQ3.png
/doc/sphinx/source/userdoc/images/getfemlistquadc1composite.png
/doc/sphinx/source/userdoc/images/getfemlistreducedHCT.png
/doc/sphinx/source/userdoc/images/getfemlistreducedquadc1composite.png
/doc/sphinx/source/userdoc/images/getfemlistsegmentPk.png
/doc/sphinx/source/userdoc/images/getfemlistsegmentbubble.png
/doc/sphinx/source/userdoc/images/getfemlistsegmenthermite.png
/doc/sphinx/source/userdoc/images/getfemlistsegmenthier.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols00.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols01.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols02.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols03.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols04.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols05.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols06.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols07.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols08.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols09.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols10.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols11.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols12.png
/doc/sphinx/source/userdoc/images/getfemlistsymbols13.png
/doc/sphinx/source/userdoc/images/getfemlisttetrahedronP1.png
/doc/sphinx/source/userdoc/images/getfemlisttetrahedronP1bubble.png
/doc/sphinx/source/userdoc/images/getfemlisttetrahedronP1bubbleface.png
/doc/sphinx/source/userdoc/images/getfemlisttetrahedronP2.png
/doc/sphinx/source/userdoc/images/getfemlisttetrahedronP2bubble.png
/doc/sphinx/source/userdoc/images/getfemlisttetrahedronP3bubble.png
/doc/sphinx/source/userdoc/images/getfemlisttetrahedronP4.png
/doc/sphinx/source/userdoc/images/getfemlisttetrahedronhermite.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP1.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP1bubble.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP1bubbleface.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP1comp.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP1comphier.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP1linbubble.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP1nonconforming.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP1withP2face.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP2.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP2bubble.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP3.png
/doc/sphinx/source/userdoc/images/getfemlisttriangleP6.png
/doc/sphinx/source/userdoc/images/getfemlisttrianglehermite.png
/doc/sphinx/source/userdoc/images/getfemuserelem.png
/doc/sphinx/source/userdoc/images/getfemuserelemf.png
/doc/sphinx/source/userdoc/images/getfemuserlinearsys.png
/doc/sphinx/source/userdoc/images/getfemuserlinsysDir.png
/doc/sphinx/source/userdoc/images/getfemusermodeldetectcontact.png
/doc/sphinx/source/userdoc/images/getfemusermodelfalsecontact1.png
/doc/sphinx/source/userdoc/images/getfemusermodelfalsecontact2.png
/doc/sphinx/source/userdoc/images/getfemusermodelmasterslave.png
/doc/sphinx/source/userdoc/images/getfemuserrefine.png
/doc/sphinx/getfem-5.1-docs-html.tar.gz
/doc/sphinx/getfem-5.1-docs-html/
/doc/doxygen/getfem_reference/
/contrib/aposteriori/aposteriori
/contrib/aposteriori/aposteriori_laplacian
/contrib/bimaterial_crack_test/bimaterial_crack_test
/contrib/bimaterial_crack_test/crack
/contrib/crack_plate/crack_bilaplacian
/contrib/crack_plate/crack_mindlin
/contrib/delaminated_crack/delaminated_crack
/contrib/icare/icare
/contrib/*/*.vtk
/contrib/*/*.pos
/contrib/*/*.dx
/contrib/level_set_contact/test_contact
/contrib/mixed_elastostatic/mixed_elastostatic
/contrib/opt_assembly/opt_assembly
/contrib/static_contact_gears/static_contact_gears
/contrib/static_contact_gears/static_contact_gears.RHS
/contrib/static_contact_gears/static_contact_gears.U
/contrib/static_contact_gears/static_contact_gears.VM
/contrib/static_contact_gears/static_contact_gears.mesh
/contrib/static_contact_gears/static_contact_gears.mf
/contrib/static_contact_gears/static_contact_gears.mfd
/contrib/static_contact_gears/static_contact_gears_u1_u2
/contrib/xfem_contact/xfem_contact
/contrib/xfem_contact/xfem_stokes
/contrib/xfem_stab_unilat_contact/xfem_stab_unilat_contact
/interface/tests/*/*.vtk
/interface/tests/*/*.pos
/interface/tests/*/*.dx
/tests/*.vtk
/tests/*.pos
/tests/*.dx
/tests/*.mesh
/tests/Q2_incomplete.msh
/tests/auto_gmm_torture01_lusolve
/tests/auto_gmm_torture01_lusolve.cc
/tests/auto_gmm_torture02_baseop
/tests/auto_gmm_torture02_baseop.cc
/tests/auto_gmm_torture05_mult
/tests/auto_gmm_torture05_mult.cc
/tests/auto_gmm_torture06_mat_mult
/tests/auto_gmm_torture06_mat_mult.cc
/tests/auto_gmm_torture10_qr
/tests/auto_gmm_torture10_qr.cc
/tests/auto_gmm_torture15_sub
/tests/auto_gmm_torture15_sub.cc
/tests/auto_gmm_torture20_iterative_solvers
/tests/auto_gmm_torture20_iterative_solvers.cc
/tests/bilaplacian
/tests/crack
/tests/cyl_slicer
/tests/dynamic_array
/tests/dynamic_tas
/tests/elastostatic
/tests/geo_trans_inv
/tests/heat_equation
/tests/helmholtz
/tests/integration
/tests/laplacian
/tests/laplacian_with_bricks
/tests/nonlinear_elastostatic
/tests/nonlinear_elastostatic.mf
/tests/nonlinear_elastostatic.U
/tests/nonlinear_elastostatic.mfd
/tests/nonlinear_membrane
/tests/nonlinear_membrane.mf
/tests/nonlinear_membrane.mfd
/tests/plasticity
/tests/plasticity.U
/tests/plasticity.coef
/tests/plasticity.meshfem
/tests/plate
/tests/poly
/tests/schwarz_additive
/tests/stokes
/tests/test_assembly
/tests/test_continuation
/tests/test_gmm_matrix_functions
/tests/test_int_set
/tests/test_interpolated_fem
/tests/test_interpolation
/tests/test_kdtree
/tests/test_mat_elem
/tests/test_mat_elem.mesh
/tests/test_mesh
/tests/test_mesh_generation
/tests/test_mesh_im_level_set
/tests/test_range_basis
/tests/test_range_basis.mesh
/tests/test_rtree
/tests/test_slice
/tests/test_slice.sl
/tests/test_slice2.sl
/tests/test_small_vector
/tests/test_tree_sorted
/tests/thermo_elasticity_electrical_coupling
/tests/wave_equation
