*.[oa]
*.log
Makefile.in
*~
/sequential/
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/interface/tests/matlab/check_all.sh.trs
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/py-compile
/test-driver
/doc/sphinx/source/scilab/cmdref*
/doc/sphinx/source/python/cmdref*
/doc/sphinx/source/matlab/cmdref*
/doc/sphinx/source/matlab/images/hierarchy.png
/doc/sphinx/source/project/images/diagram.png
doc/sphinx/source/project/images/getfemelemelem.png
doc/sphinx/source/project/images/getfemtransgeo.png
doc/sphinx/source/project/images/tree_simple_laplace_tan.png
doc/sphinx/source/python/images/hierarchy.png
doc/sphinx/source/scilab/images/hierarchy.png
doc/sphinx/source/userdoc/images/ALE_rotating_body.png
doc/sphinx/source/userdoc/images/ALE_rotating_conf.png
doc/sphinx/source/userdoc/images/ALE_translation_body.png
doc/sphinx/source/userdoc/images/getfemlistHCT.png
doc/sphinx/source/userdoc/images/getfemlistRT0.png
doc/sphinx/source/userdoc/images/getfemlistargyris.png
doc/sphinx/source/userdoc/images/getfemlistcubeQ1.png
doc/sphinx/source/userdoc/images/getfemlistcubeQ3.png
doc/sphinx/source/userdoc/images/getfemlistincomplete.png
doc/sphinx/source/userdoc/images/getfemlistintmethodquad2.png
doc/sphinx/source/userdoc/images/getfemlistintmethodquad3.png
doc/sphinx/source/userdoc/images/getfemlistintmethodquad5.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtetrahedron1.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtetrahedron2.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtetrahedron3.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtetrahedron5.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle1.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle2.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle2comp.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle3.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle4.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle5.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle6.png
doc/sphinx/source/userdoc/images/getfemlistintmethodtriangle7.png
doc/sphinx/source/userdoc/images/getfemlistmorley.png
doc/sphinx/source/userdoc/images/getfemlistnedelec.png
doc/sphinx/source/userdoc/images/getfemlistprismP1.png
doc/sphinx/source/userdoc/images/getfemlistprismP2P1.png
doc/sphinx/source/userdoc/images/getfemlistprismP3.png
doc/sphinx/source/userdoc/images/getfemlistquadQ1.png
doc/sphinx/source/userdoc/images/getfemlistquadQ3.png
doc/sphinx/source/userdoc/images/getfemlistquadc1composite.png
doc/sphinx/source/userdoc/images/getfemlistreducedHCT.png
doc/sphinx/source/userdoc/images/getfemlistreducedquadc1composite.png
doc/sphinx/source/userdoc/images/getfemlistsegmentPk.png
doc/sphinx/source/userdoc/images/getfemlistsegmentbubble.png
doc/sphinx/source/userdoc/images/getfemlistsegmenthermite.png
doc/sphinx/source/userdoc/images/getfemlistsegmenthier.png
doc/sphinx/source/userdoc/images/getfemlistsymbols00.png
doc/sphinx/source/userdoc/images/getfemlistsymbols01.png
doc/sphinx/source/userdoc/images/getfemlistsymbols02.png
doc/sphinx/source/userdoc/images/getfemlistsymbols03.png
doc/sphinx/source/userdoc/images/getfemlistsymbols04.png
doc/sphinx/source/userdoc/images/getfemlistsymbols05.png
doc/sphinx/source/userdoc/images/getfemlistsymbols06.png
doc/sphinx/source/userdoc/images/getfemlistsymbols07.png
doc/sphinx/source/userdoc/images/getfemlistsymbols08.png
doc/sphinx/source/userdoc/images/getfemlistsymbols09.png
doc/sphinx/source/userdoc/images/getfemlistsymbols10.png
doc/sphinx/source/userdoc/images/getfemlistsymbols11.png
doc/sphinx/source/userdoc/images/getfemlistsymbols12.png
doc/sphinx/source/userdoc/images/getfemlistsymbols13.png
doc/sphinx/source/userdoc/images/getfemlisttetrahedronP1.png
doc/sphinx/source/userdoc/images/getfemlisttetrahedronP1bubble.png
doc/sphinx/source/userdoc/images/getfemlisttetrahedronP1bubbleface.png
doc/sphinx/source/userdoc/images/getfemlisttetrahedronP2.png
doc/sphinx/source/userdoc/images/getfemlisttetrahedronP2bubble.png
doc/sphinx/source/userdoc/images/getfemlisttetrahedronP3bubble.png
doc/sphinx/source/userdoc/images/getfemlisttetrahedronP4.png
doc/sphinx/source/userdoc/images/getfemlisttetrahedronhermite.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP1.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP1bubble.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP1bubbleface.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP1comp.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP1comphier.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP1linbubble.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP1nonconforming.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP1withP2face.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP2.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP2bubble.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP3.png
doc/sphinx/source/userdoc/images/getfemlisttriangleP6.png
doc/sphinx/source/userdoc/images/getfemlisttrianglehermite.png
doc/sphinx/source/userdoc/images/getfemuserelem.png
doc/sphinx/source/userdoc/images/getfemuserelemf.png
doc/sphinx/source/userdoc/images/getfemuserlinearsys.png
doc/sphinx/source/userdoc/images/getfemuserlinsysDir.png
doc/sphinx/source/userdoc/images/getfemusermodeldetectcontact.png
doc/sphinx/source/userdoc/images/getfemusermodelfalsecontact1.png
doc/sphinx/source/userdoc/images/getfemusermodelfalsecontact2.png
doc/sphinx/source/userdoc/images/getfemusermodelmasterslave.png
doc/sphinx/source/userdoc/images/getfemuserrefine.png
